In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import contractions
import emoji
import seaborn as sns
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import string
import re
nltk.download('punkt')
nltk.download('stopwords')
from spellchecker import SpellChecker
from nltk.corpus import wordnet
from textblob import TextBlob
from wordcloud import WordCloud
from collections import Counter

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\limju\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\limju\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Jacintha's pre processing
- Remove duplicates
- Remove empty rows
- Remove non english
- Convert Emojis to english

### Split into train and test

In [41]:
df = pd.read_csv('final_cleaned_reviews_J.csv') #this is entirety of reviews from jacintha, add idx to column names
df = df[['idx','title','stars','text']]

testdf = pd.read_csv('to_annotate.csv') #test reviews only

C:\Users\limju\AppData\Local\Temp\ipykernel_16416\335519818.py:1: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final_cleaned_reviews_J.csv') #this is entirety of reviews from jacintha, add idx to column names

In [42]:
testdf

,idx,title,stars,text,publishedAtDate,likesCount,name,reviewerNumberOfReviews,isLocalGuide,responseFromOwnerDate,...,reviewImageUrls/42,reviewImageUrls/43,reviewImageUrls/44,reviewImageUrls/45,reviewImageUrls/46,reviewImageUrls/47,reviewImageUrls/48,reviewImageUrls/49,lang,num_words
0,7678,Iro Iro Japanese Restaurant,5,We were so excited to eat so the photos are ta...,2023-11-25T02:55:12.562Z,1,Lee Joleen,39,False,2023-12-10T15:15:19.003Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,338
1,5117,Pura Brasa Singapore,5,Really great Spanish food at reasonable prices...,2024-02-14T16:50:26.656Z,0,Randy Choo,26,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,40
2,3138,Sheik Jalani Restaurant,4,"Food range is amazing, food equality is slight...",2018-04-19T05:10:55.527Z,0,Miss Ain M,61,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,32
3,2683,Black Society 黑社会,5,Nice ambience - the room was well decorated wi...,2023-12-23T12:36:58.020Z,0,Marilyn Lau,2,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,46
4,620,BOMBAY DINING-NORTH INDIAN RESTAURANT,2,Ordered on Deliveroo and food arrived 50min la...,2021-05-22T11:13:00.211Z,4,Owen Lam,47,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,6431,Melben Seafood Restaurant - Depot Lane,2,Purchased a mongolian style beef rice with egg...,2023-11-25T15:04:57.753Z,0,jinsen goh,48,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,26
1064,2572,Tambi Restaurant,5,Oxtail Bone Marrow Murtabak 8/10 (Kimchi was a...,2024-02-21T13:37:15.730Z,0,Layla Said,37,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,57
1065,9377,Ba Shu Sichuan Restaurant,5,Great tasting and authentic dishes here.\n\nWe...,2022-01-31T04:32:26.426Z,5,Jonneh Ng,8,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,58
1066,9498,Mendon Bedok Mall,5,a small cozy nook beside Tori-Q that serves re...,2023-11-05T10:49:49.070Z,0,Xing Yi Han,5,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,90
1067,7755,Hyderabad Bawarchi Authentic North Indian Rest...,5,Great place for Indian food.. affordable and n...,2023-08-02T11:46:53.103Z,0,lavanya veeraragavan,38,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,9

In [3]:
testidx = testdf.idx.tolist()

In [4]:
traindf = df[~df['idx'].isin(testidx)] #train reviews only

### Further cleaning and preprocessing
- This is applied to both train and test sets. It is applied to train set now, and test set in the individual model notebooks

1. Remove emojis
2. Remove stopwords
3. Extra whitespace
4. lemmatize (with POS)
5. Lowercase
6. Change contractions
7. Remove punctuations and numbers

In [8]:
# Remove emojis 
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  
        u"\U0001F300-\U0001F5FF"  
        u"\U0001F680-\U0001F6FF"  
        u"\U0001F1E0-\U0001F1FF" 
        u"\U00002500-\U00002BEF"  
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

def remove_stopwords(reviews):
    STOPWORDS = set(stopwords.words('english'))
    custom_stopwords = {'not', 'is', 'but'}
    STOPWORDS -= custom_stopwords
    if STOPWORDS is None:
        STOPWORDS = set(stopwords.words('english'))
    # Split the reviews into words and remove stopwords
    words = reviews.split()
    words_filtered = [word for word in words if word not in STOPWORDS]
    
    # Join the filtered words back into a string
    filtered_reviews = ' '.join(words_filtered)
    
    return filtered_reviews

def remove_extra_whitespace(reviews):
    return " ".join(reviews.split())

def get_wordnet_pos(text):
    # Map POS tag to first character lemmatize() accepts
    tags = nltk.pos_tag(text)
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    tags = [tag_dict.get(tag[1][0],  wordnet.NOUN) for tag in tags]
    return tags

def lemmaSentence(reviews):
    lemmatizer = WordNetLemmatizer()
    lemma_text = ''
    tok_text = word_tokenize(reviews)
    tags = get_wordnet_pos(tok_text)
    for i in range(len(tok_text)):
        lemma_text = lemma_text + ' ' + lemmatizer.lemmatize(tok_text[i], tags[i])
    return lemma_text[1:]

def lower_case(review):
    return review.lower()

# change contraction words such sa I'm = I am, shouldn't = should not
def change_contractions(review):
    
    expanded_words = [contractions.fix(word) for word in review.split()]

    expanded_review = ' '.join(expanded_words)
    return expanded_review

# Remove Punctuations
def remove_punctuations(review):
    
    new_review = review.translate(str.maketrans('', '', string.punctuation))
    return new_review

# Remove numbers
def remove_numbers(review):
    
    mapping = str.maketrans('', '', string.digits)
    new_review = review.translate(mapping)
    
    return new_review


def clean_text(data):

    data = data.apply(lower_case)
    data = data.apply(change_contractions)
    data = data.apply(remove_emojis)
    data = data.apply(remove_punctuations)
    data = data.apply(remove_numbers)
    data = data.apply(remove_stopwords)
    data = data.apply(remove_extra_whitespace)
    data = data.apply(lemmaSentence)
    
    return data

In [7]:
traindf['cleaned_text'] = clean_text(traindf.text)
traindf = traindf.reset_index(drop=True)
#testdf['cleaned_text'] = clean_text(testdf.text)

C:\Users\limju\AppData\Local\Temp\ipykernel_9504\4121735024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traindf['cleaned_text'] = clean_text(traindf.text)

In [39]:
traindf.to_csv("train_data.csv", index=False)

### Preparing test data

In [2]:
test_df=pd.read_csv('test_data.csv')
test_df.head()

,text,Polarity_Anno1,Polarity_Anno2,Polarity_Anno3
0,Food is generally good. Serving size on the sm...,POSITIVE,POSITIVE,POSITIVE
1,My friend and I are post duty from work and de...,NEGATIVE,NEGATIVE,POSITIVE
2,Their food is tasty and affordable. We ordered...,POSITIVE,POSITIVE,POSITIVE
3,A Mixed Experience at Tapas Club: Delectable C...,POSITIVE,POSITIVE,POSITIVE
4,Average taste with affordable price. Overall g...,POSITIVE,POSITIVE,POSITIVE

In [17]:
def anno2int(text):
    if text=='POSITIVE':
        return 1
    else:
        return 0
    
a1 = test_df.Polarity_Anno1.apply(anno2int)
a2 = test_df.Polarity_Anno2.apply(anno2int)
a3 = test_df.Polarity_Anno3.apply(anno2int)

In [39]:
from statsmodels.stats.inter_rater import fleiss_kappa
from statsmodels.stats.inter_rater import aggregate_raters

count_matrix = aggregate_raters(pd.DataFrame({'a1':a1, 'a2':a2, 'a3':a3}).values)
fleiss_kappa(count_matrix[0], method='fleiss')

0.8574212688270192

In [97]:
from sklearn.metrics import cohen_kappa_score
(cohen_kappa_score(a1, a2) + cohen_kappa_score(a1, a3) +cohen_kappa_score(a2, a3))/3

0.8579901511389728